.mainContainer{
    font-family: "Montserrat", sans-serif;
    background-color: #ffe3fe;
    padding: 12%;
}
.mainTitle{
    color: #93329e;
    font-weight: 600;
}
.textInfo{
    color: #93329e;
    font-size: 1.3rem;
    text-align: justify;
}
.svgInfo{
    width: 100%;
    height: 100%;
}