.mainContainer{
    padding:3%;
    font-family: "Montserrat", sans-serif;
    background-color: #b4aee8;
}
.mainTitle{
    text-align: center;
    color: white;
}
.brandImage{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .2s; /* Animation */
    &:hover{
        transform: scale(1.2); 
    }
}
@media only screen and (max-width: 900px) {
    
} 