.mainContainer {
  position: relative;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
.mainTitle {
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
  color: white;
}
.subTitle {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  
}
.infoContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  position: absolute;
  z-index: 2;
}
.mainImage {
  
}
.svgWave{
  position: absolute;
  right: 0;
  width: 70%;
}
@media only screen and(max-width: 1000px) {
  .mainTitle {
    font-size: 4rem;
  }
  .subTitle {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .mainTitle {
    font-size: 3rem;
  }
  .subTitle {
    font-size: 1.5rem;
  }
}
