.mainContainer {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
  background: #ffe3fe;
  justify-content: center;
}
.clouds{
  width: 100%;
  height: 15%;
  
}
.mainTitle {
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  color: #440a67;
}
.subTitle {
  text-align: center;
  font-size: 1.5rem;
  color: #440a67;
}
.infoContainer {
  height: 100%;
  color: white;
  position: absolute;
  z-index: 2;
}
.mainImage {
  
}
.svgWave{
  position: absolute;
  right: 0;
  height: 100%;
}
@media only screen and(max-width: 1000px) {
  .mainTitle {
    font-size: 4rem;
  }
  .subTitle {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .clouds{
    height: 10%;
  }
  .mainTitle {
    font-size: 3rem;
  }
  .subTitle {
    font-size: 1.5rem;
  }
}
