.mainContainer {
  background-image: url('/assets/backgroundmain-index.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
  //background: #ffe3fe;
  justify-content: center;
}
.clouds{
  width: 100%;
  height: 15%;
  
}
.mainTitle {
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
  color: white;
}
.subTitle {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  
}
.infoContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  position: absolute;
  z-index: 2;
}
.mainImage {
  
}
.svgWave{
  position: absolute;
  right: 0;
  width: 70%;
}
@media only screen and(max-width: 1000px) {
  .mainTitle {
    font-size: 4rem;
  }
  .subTitle {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .mainContainer {
    background-attachment: inherit;
  }
  .mainTitle {
    font-size: 3rem;
  }
  .subTitle {
    font-size: 1.5rem;
  }
}
