.mainContainer {
  //background-image: url('/assets/background-cards.jpg');
  background-size: 100% 100%;
  padding-top:5%;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 23vh;
  background-color: #b4aee8;
}
.mainTitle{
  font-size: 4rem;
  font-weight: 600;
  color: white;
  margin-bottom: 2vh;
  text-align: center;
}
.svgWave {
  height: 70%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.card {
  padding: 4%;
  width: 100%;
  height: 100%;
}
.imageCard{
  width: 100%;
  height: 100%;
}
.cardTitle{
  color: white;
  text-align: center;
}
.contactButton{
  text-decoration: none;
  color: white;
  text-align: center;
  margin-top: 6%;
  padding: 1.4%;
  width: 30%;
  height: 100%;
  font-size: 1.2rem;
  background-color:#93329e;
  &:hover{
    background-color: #ffe3fe;
    color:#93329e;
  }
}
@media only screen and (max-width: 600px) {
  .contactButton{
    width: 70%;
  }
  .mainTitle{
    font-size: 3rem;
  }
}