.mainContainer{
    width: 100vw;
    background-color: #440a67;
    bottom: 0;
    position: sticky;
}
.mainTitle{
    text-align: center;
    color: white;
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
