.mainContainer {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0vh;
  background-color: #ffe3fe;
}
.mainTitle {
  padding-top: 12vh;
  font-size: 5rem;
  color: rgb(95, 5, 171);
  font-weight: 600;
  text-align: center;
  margin-bottom: 300px;
}
.productContainer {
  padding-bottom: 300px;


}
.productsTitle {
  text-align: center;
  font-weight: 900;
  color: rgb(95, 5, 171);
  font-size: 6rem;
}
.productInfo {
  text-align: center;
  font-size: 1.5vw;
  color:#93329e;
}
.productImageContainer {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: white;
}
.imagehoverContainer {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  font-size: 1.3rem;
}
.productImageContainer:hover .imagehoverContainer {
  opacity: .8;
}
@media only screen and (max-width: 900px) {
  .productsTitle {
    font-size: 3rem;
  }
  .productInfo {
    font-size: 1.5rem;
  }
  .infoProductoContainer{
      margin-bottom: 200px;
  }
  .mainTitle {
    margin-bottom: 100px;
  }
  .mainTitle {
    font-size: 3rem;
    width: 100%;
  }
  
}
